<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paigu.interview.mapper.InfoMapper">

    <select id="findByName" resultType="com.paigu.interview.entity.Info">
        SELECT * FROM info WHERE concat('%',#{name},'%')
    </select>
</mapper>